# Config dotfiles
alias config='/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME'
alias cfg='config'


# Edit config files
alias cfg-alacritty="ed $HOME/.config/alacritty/alacritty.yml"
alias cfg-alacritty-colors="alacritty-colorscheme"
alias cfg-aliases="ed $HOME/.aliases"
alias cfg-tmux="ed $HOME/.config/tmux/base.conf"
alias cfg-vim="ed $HOME/.vim/vimrc"


# Functions
alias z="ssh-zsh"
alias t="ssh-tmux"


# Tmux
alias tt="tmux new -A -s main"


# Disk space
alias ducks='du -cksh -- * | sort -rn | head'


# Git
alias g='git'
alias gita='git add'
alias gitc="git commit"
alias gitcm="git commit -m"
alias gitd="git diff"
alias gitds="git diff --staged"
alias gitnow="GIT_COMMITTER_DATE='`date`' git commit --amend --date '`date`'"
alias gitp="git push"
alias gits="git status"


# Editors
alias ed="$EDITOR"
alias vscode="/Applications/Visual\\ Studio\\ Code.app/contents/Resources/app/bin/code"


# Python
alias py="python"
alias pydb='python -m pdb -c continue '
alias pydev='pip install black flake8 isort pytest rich'


# Julia
alias ju="julia --project=@."


# Skim
alias skim="/Applications/Skim.app/Contents/MacOS/Skim"


# Ansible
alias an="$CONDA/bin/ansible"
alias ap="$CONDA/bin/ansible-playbook"
alias ai="$CONDA/bin/ansible-inventory"


# Papers
alias pia="$CONDA/bin/papers-import --path $HOME/Papers arxiv"
alias pew="$CONDA/bin/papers-export --path $HOME/Papers web"
alias pipdf="$CONDA/bin/papers-import --path $HOME/Papers pdf"


# Etc
alias hn="$CONDA/bin/haxor-news"
alias tw="$CONDA/bin/rainbowstream"
alias rd="$CONDA/bin/tuir"
alias mdl="mdless --no-color --width=80 "
alias fabrq="$CONDA/bin/fabrq"


# macOS
alias typora="/Applications/Typora.app/Contents/MacOS/Typora"


# Anki
alias aup="python $HOME/notes/memo/obsidian_to_anki.py -u $HOME/notes/memo"
