# SSH with zsh
z() {
    if [ "$#" -eq 1 ]; then
        ssh $@ -t "zsh --login; echo $@"
    fi
    if [ "$#" -eq 2 ]; then
        sshpass -p $2 ssh $1 -t "zsh --login; echo $1"
    fi
}


# Website to markdown
md() {
    url=$1
    title=${@:2}
    outputDir="$HOME/Notes/web"
    ymd=$(date +"%Y-%m-%d")
    outputFile="${outputDir}/${ymd} ${title}.md"
    curl --progress-bar --data-urlencode "u=${url}" --data "read=1&md=1" http://heckyesmarkdown.com/go/ -o $outputFile
    cat $outputFile 
}

# Website to pdf, uses wkhtmltopdf
pdf() {
    url=$1
    title=${@:2}
    outputDir="$HOME/Notes/web"
    ymd=$(date +"%Y-%m-%d")
    outputFile="${outputDir}/${ymd} ${title}.pdf"
    wkhtmltopdf $url $outputFile
}

# URL ENCODE
# https://stackoverflow.com/a/10660730
rawurlencode() {
  local string="${1}"
  local strlen=${#string}
  local encoded=""
  local pos c o

  for (( pos=0 ; pos<strlen ; pos++ )); do
     c=${string:$pos:1}
     case "$c" in
        [-_.~a-zA-Z0-9] ) o="${c}" ;;
        * )               printf -v o '%%%02x' "'$c"
     esac
     encoded+="${o}"
  done
  echo "${encoded}"    # You can either set a return variable (FASTER)
  REPLY="${encoded}"   #+or echo the result (EASIER)... or both... :p
}


# Weather
wet() {
    if [ ! -z $1 ]
    then
        curl wttr.in/$1
    else
        curl wttr.in/Munich
    fi
}
alias sun=wet


# VI
vi() {
    if type vim >/dev/null
    then  vim "$@"
    else  vi "$@"
    fi
}
